In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the dataset
df = pd.read_csv(r"C:\Users\mlaws\OneDrive - Western Governors University\Documents\WGU\D212\medical_market_basket.csv")

In [3]:
# Get info on data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15002 entries, 0 to 15001
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Presc01  7501 non-null   object
 1   Presc02  5747 non-null   object
 2   Presc03  4389 non-null   object
 3   Presc04  3345 non-null   object
 4   Presc05  2529 non-null   object
 5   Presc06  1864 non-null   object
 6   Presc07  1369 non-null   object
 7   Presc08  981 non-null    object
 8   Presc09  654 non-null    object
 9   Presc10  395 non-null    object
 10  Presc11  256 non-null    object
 11  Presc12  154 non-null    object
 12  Presc13  87 non-null     object
 13  Presc14  47 non-null     object
 14  Presc15  25 non-null     object
 15  Presc16  8 non-null      object
 16  Presc17  4 non-null      object
 17  Presc18  4 non-null      object
 18  Presc19  3 non-null      object
 19  Presc20  1 non-null      object
dtypes: object(20)
memory usage: 2.3+ MB

In [4]:
df.head()

,Presc01,Presc02,Presc03,Presc04,Presc05,Presc06,Presc07,Presc08,Presc09,Presc10,Presc11,Presc12,Presc13,Presc14,Presc15,Presc16,Presc17,Presc18,Presc19,Presc20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,amlodipine,albuterol aerosol,allopurinol,pantoprazole,lorazepam,omeprazole,mometasone,fluconozole,gabapentin,pravastatin,cialis,losartan,metoprolol succinate XL,sulfamethoxazole,abilify,spironolactone,albuterol HFA,levofloxacin,promethazine,glipizide
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,citalopram,benicar,amphetamine salt combo xr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Data dimensions
df.shape

(15002, 20)

In [6]:
# View column data types
print(df.dtypes)

Presc01    object
Presc02    object
Presc03    object
Presc04    object
Presc05    object
Presc06    object
Presc07    object
Presc08    object
Presc09    object
Presc10    object
Presc11    object
Presc12    object
Presc13    object
Presc14    object
Presc15    object
Presc16    object
Presc17    object
Presc18    object
Presc19    object
Presc20    object
dtype: object

In [7]:
# Create list of lists for encoding
trans=[]
for i in range (0,7501):
    trans.append([str(df.values[i,j]) for j in range(0, 20)])

In [8]:
# Prepare data for Apriori function
TE = TransactionEncoder()
array = TE.fit(trans).transform(trans)

In [9]:
# Convert data set back to dataframe 
cleaned_df = pd.DataFrame(array, columns = TE.columns_)
cleaned_df

,Duloxetine,Premarin,Yaz,abilify,acetaminophen,actonel,albuterol HFA,albuterol aerosol,alendronate,allopurinol,...,trazodone HCI,triamcinolone Ace topical,triamterene,trimethoprim DS,valaciclovir,valsartan,venlafaxine XR,verapamil SR,viagra,zolpidem
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
for col in cleaned_df.columns:
    print(col)

Duloxetine
Premarin
Yaz
abilify
acetaminophen
actonel
albuterol HFA
albuterol aerosol
alendronate
allopurinol
alprazolam
amitriptyline
amlodipine
amoxicillin
amphetamine
amphetamine salt combo
amphetamine salt combo xr
atenolol
atorvastatin
azithromycin
benazepril
benicar
boniva
bupropion sr
carisoprodol
carvedilol
cefdinir
celebrex
celecoxib
cephalexin
cialis
ciprofloxacin
citalopram
clavulanate K+
clonazepam
clonidine HCI
clopidogrel
clotrimazole
codeine
crestor
cyclobenzaprine
cymbalta
dextroamphetamine XR
diazepam
diclofenac sodium
doxycycline hyclate
enalapril
escitalopram
esomeprazole
ezetimibe
fenofibrate
fexofenadine
finasteride
flovent hfa 110mcg inhaler
fluconozole
fluoxetine HCI
fluticasone
fluticasone nasal spray
folic acid
furosemide
gabapentin
glimepiride
glipizide
glyburide
hydrochlorothiazide
hydrocodone
hydrocortisone 2.5% cream
ibuprophen
isosorbide mononitrate
lansoprazole
lantus
levofloxacin
levothyroxine sodium
lisinopril
lorazepam
losartan
lovastatin
meloxicam
metformin
metformin HCI
methylprednisone
metoprolol
metoprolol succinate XL
metoprolol tartrate
mometasone
nan
naproxen
omeprazole
oxycodone
pantoprazole
paroxetine
pioglitazone
potassium Chloride
pravastatin
prednisone
pregabalin
promethazine
quetiapine
ranitidine
rosuvastatin
salmeterol inhaler
sertraline HCI
simvastatin
spironolactone
sulfamethoxazole
synthroid
tamsulosin
temezepam
topiramate
tramadol
trazodone HCI
triamcinolone Ace topical
triamterene
trimethoprim DS
valaciclovir
valsartan
venlafaxine XR
verapamil SR
viagra
zolpidem

In [11]:
df_cleaned = cleaned_df.drop(['nan'], axis=1)

In [12]:
for col in df_cleaned.columns:
    print(col)

Duloxetine
Premarin
Yaz
abilify
acetaminophen
actonel
albuterol HFA
albuterol aerosol
alendronate
allopurinol
alprazolam
amitriptyline
amlodipine
amoxicillin
amphetamine
amphetamine salt combo
amphetamine salt combo xr
atenolol
atorvastatin
azithromycin
benazepril
benicar
boniva
bupropion sr
carisoprodol
carvedilol
cefdinir
celebrex
celecoxib
cephalexin
cialis
ciprofloxacin
citalopram
clavulanate K+
clonazepam
clonidine HCI
clopidogrel
clotrimazole
codeine
crestor
cyclobenzaprine
cymbalta
dextroamphetamine XR
diazepam
diclofenac sodium
doxycycline hyclate
enalapril
escitalopram
esomeprazole
ezetimibe
fenofibrate
fexofenadine
finasteride
flovent hfa 110mcg inhaler
fluconozole
fluoxetine HCI
fluticasone
fluticasone nasal spray
folic acid
furosemide
gabapentin
glimepiride
glipizide
glyburide
hydrochlorothiazide
hydrocodone
hydrocortisone 2.5% cream
ibuprophen
isosorbide mononitrate
lansoprazole
lantus
levofloxacin
levothyroxine sodium
lisinopril
lorazepam
losartan
lovastatin
meloxicam
metformin
metformin HCI
methylprednisone
metoprolol
metoprolol succinate XL
metoprolol tartrate
mometasone
naproxen
omeprazole
oxycodone
pantoprazole
paroxetine
pioglitazone
potassium Chloride
pravastatin
prednisone
pregabalin
promethazine
quetiapine
ranitidine
rosuvastatin
salmeterol inhaler
sertraline HCI
simvastatin
spironolactone
sulfamethoxazole
synthroid
tamsulosin
temezepam
topiramate
tramadol
trazodone HCI
triamcinolone Ace topical
triamterene
trimethoprim DS
valaciclovir
valsartan
venlafaxine XR
verapamil SR
viagra
zolpidem

In [13]:
df_cleaned.shape

(7501, 119)

In [14]:
# Export prepared data sets
df.to_csv(r"C:\Users\mlaws\OneDrive - Western Governors University\Documents\WGU\D212\medical_market_basket_prepared.csv")

In [15]:
# Run Apriori to mine
a_rules = apriori(df_cleaned, min_support = 0.005, use_colnames = True)
# Review head
a_rules.head(3)

    support      itemsets
0  0.006532  (Duloxetine)
1  0.023197    (Premarin)
2  0.118917     (abilify)

In [16]:
# Set metric
ass_r = association_rules(a_rules, metric = 'lift', min_threshold = 1)
ass_r.head(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(diazepam),(Premarin),0.087455,0.023197,0.006666,0.076220,3.285762,0.004637,1.057397
1,(Premarin),(diazepam),0.023197,0.087455,0.006666,0.287356,3.285762,0.004637,1.280507
2,(allopurinol),(abilify),0.017464,0.118917,0.006133,0.351145,2.952846,0.004056,1.357904

In [17]:
df_cleaned['abilify'].sum()

892

In [18]:
# Generate top 3 rules 
ass_r[ (ass_r['lift'] >= 6.3) & ass_r['confidence'] > 0.2][:3]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
439,"(atorvastatin, abilify)",(metformin),0.026130,0.027063,0.005466,0.209184,7.729491,0.004759,1.230294
440,"(metformin, abilify)",(atorvastatin),0.012932,0.066658,0.005466,0.422680,6.341052,0.004604,1.616682
441,(atorvastatin),"(metformin, abilify)",0.066658,0.012932,0.005466,0.082000,6.341052,0.004604,1.075238

In [19]:
# Print how many times each prescription appears in the table
print('Atorvastatin:', df_cleaned['atorvastatin'].sum())
print('Metformin:', df_cleaned['metformin'].sum())
print('Abilify:', df_cleaned['abilify'].sum())

Atorvastatin: 500
Metformin: 203
Abilify: 892